<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bold image</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap5/css/bootstrap.min.css')}}"
    />
  </head>
  <body>
    <div class="card">
      <div class="card-body">
        <img
          src="/static/img/saint-petersburg-state.jpg"
          class="mx-auto d-block"
        />
        <img src="/static/img/saint-petersburg-state.jpg" class="float-start" />
        <img src="/static/img/saint-petersburg-state.jpg" class="float-end" />
      </div>
    </div>
  </body>
</html>
